<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.ax9k.core.time, com.ax9k.utils.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Asynchronous name="AsyncBookState">
            <File name="BookState" fileName="temp/BookStates.log" Append="false">
                <EventLogLayout/>
            </File>
        </Asynchronous>
        <File name="ErrorLog" fileName="temp/Error.log" Append="false">
            <TimestampedLayout>
                <PatternLayout>
                    <Pattern>[%t] %m%n</Pattern>
                </PatternLayout>
            </TimestampedLayout>
        </File>
        <File name="AlgoLog" fileName="temp/Algo.log" Append="false">
            <TimestampedLayout>
                <PatternLayout>
                    <Pattern>%m%n</Pattern>
                </PatternLayout>
            </TimestampedLayout>
        </File>
        <Asynchronous name="AsyncTradeLog">
            <File name="TradeLog" fileName="temp/MarketTrades.log" Append="false">
                <EventLogLayout/>
            </File>
        </Asynchronous>
        <File name="OurTradeLog" fileName="temp/OurTrades.log" Append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <Asynchronous name="AsyncBarLog">
            <File name="BarLog" fileName="temp/Bar.log" Append="false">
                <EventLogLayout/>
            </File>
        </Asynchronous>
        <File name="BrokerLog" fileName="temp/Broker.log" Append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <Asynchronous name="AsyncProviderLog">
            <File name="ProviderLog" fileName="temp/Provider.log" Append="false">
                <PatternLayout>
                    <Pattern>%m%n</Pattern>
                </PatternLayout>
            </File>
        </Asynchronous>
        <File name="PositionLog" fileName="temp/PositionManager.log" Append="false">
            <TimestampedLayout>
                <PatternLayout>
                    <Pattern>%m%n</Pattern>
                </PatternLayout>
            </TimestampedLayout>
        </File>
        <File name="FeatureState" fileName="temp/Features.log" Append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="PeriodicFeatureLog" fileName="temp/PeriodicFeatures.log" Append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="periodicFeatureLogger" level="INFO" additivity="false">
            <AppenderRef ref="PeriodicFeatureLog"/>
        </Logger>
        <Logger name="dataLogger" level="INFO" additivity="false">
            <AppenderRef ref="AsyncBookState"/>
        </Logger>
        <Logger name="tradeLogger" level="INFO" additivity="false">
            <AppenderRef ref="AsyncTradeLog"/>
        </Logger>
        <Logger name="ourTradeLogger" level="INFO" additivity="false">
            <AppenderRef ref="OurTradeLog"/>
        </Logger>
        <Logger name="algoLogger" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AlgoLog"/>
        </Logger>
        <Logger name="featureLogger" level="ERROR" additivity="false">
            <AppenderRef ref="FeatureState"/>
        </Logger>
        <Logger name="barLogger" level="INFO" additivity="false">
            <AppenderRef ref="AsyncBarLog"/>
        </Logger>
        <Logger name="brokerLogger" level="INFO" additivity="false">
            <AppenderRef ref="BrokerLog"/>
        </Logger>
        <Logger name="providerLogger" level="INFO" additivity="false">
            <AppenderRef ref="AsyncProviderLog"/>
        </Logger>
        <Logger name="positionLogger" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="PositionLog"/>
        </Logger>
        <Logger name="error" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorLog"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>